.feedback_details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 80px 150px 137px;
}
@media (max-width: 1023px) {
  .feedback_details {
    padding: 56px 39px 120px;
  }
}
@media (max-width: 767px) {
  .feedback_details {
    padding: 24px 25px 88px;
  }
}
@media (max-width: 400px) {
  .feedback_details {
    padding: 24px 15px 50px;
  }
}

.feedback_nav {
  display: flex;
  align-items: center;
}
.feedback_nav div:first-child {
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}
.feedback_nav div:first-child p {
  color: #647196;
  font-weight: 700;
  font-size: 14px;
}
.feedback_nav div:first-child p:hover {
  text-decoration: underline;
}
.feedback_nav button {
  background-color: #4661E6;
  margin: auto 0 auto auto;
}
.feedback_nav button:hover {
  background-color: #7C91F9;
}

.comments_section {
  background-color: white;
  border-radius: 10px;
  padding: 24px 34px;
}
@media (max-width: 767px) {
  .comments_section {
    padding: 23px;
  }
}
.comments_section > p {
  font-size: 18px;
  font-weight: 700;
  color: #3A4374;
  margin: 0 0 28px 0;
}
@media (max-width: 767px) {
  .comments_section > p {
    margin-bottom: 24px;
  }
}
.comments_section .comments {
  display: flex;
  flex-direction: column;
}
.comments_section .comments .comment {
  padding: 32px 0;
  border-top: solid 1px rgba(140, 146, 179, 0.25);
}
@media (max-width: 767px) {
  .comments_section .comments .comment {
    padding: 24px 0;
  }
}
.comments_section .comments .comment .comment_content, .comments_section .comments .comment .comment_replies {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
@media (max-width: 767px) {
  .comments_section .comments .comment .comment_content, .comments_section .comments .comment .comment_replies {
    gap: 15px;
  }
}
@media (max-width: 400px) {
  .comments_section .comments .comment .comment_content, .comments_section .comments .comment .comment_replies {
    gap: 13px;
  }
}
.comments_section .comments .comment .comment_metaData {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 767px) {
  .comments_section .comments .comment .comment_metaData {
    gap: 16px;
  }
}
.comments_section .comments .comment .comment_metaData img {
  border-radius: 100%;
}
.comments_section .comments .comment .comment_metaData .comment_userInfo p {
  margin: 0;
  font-size: 14px;
}
@media (max-width: 767px) {
  .comments_section .comments .comment .comment_metaData .comment_userInfo p {
    font-size: 13px;
  }
}
.comments_section .comments .comment .comment_metaData .comment_userInfo p:first-child {
  font-weight: 700;
  color: #3A4374;
}
.comments_section .comments .comment .comment_metaData .comment_userInfo p:last-child {
  color: #647196;
}
.comments_section .comments .comment .comment_metaData button {
  border: none;
  color: #4661E6;
  font-size: 13px;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
}
.comments_section .comments .comment .comment_metaData button:hover {
  text-decoration: underline;
}
.comments_section .comments .comment .comment_content_content p {
  color: #647196;
  font-size: 15px;
  margin: 0;
}
@media (max-width: 767px) {
  .comments_section .comments .comment .comment_content_content p {
    font-size: 13px;
  }
}
.comments_section .comments .comment .comment_replies {
  margin-left: 20px;
  border-left: solid 1px #F0F1F4;
  padding: 0 0 32px 25px;
}
@media (max-width: 767px) {
  .comments_section .comments .comment .comment_replies {
    margin-left: 0;
  }
}
@media (max-width: 400px) {
  .comments_section .comments .comment .comment_replies {
    padding: 0 0 30px 15px;
  }
}
.comments_section .comments .comment .comment_replies span {
  color: #AD1FEA;
  font-weight: 700;
  font-size: 15px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .comments_section .comments .comment .comment_replies span {
    font-size: 13px;
  }
}

.add_comment {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 24px 33px 32px;
}
@media (max-width: 767px) {
  .add_comment {
    padding: 24px;
  }
}
.add_comment .add_comment_title {
  font-size: 18px;
  font-weight: 700;
  color: #3A4374;
  margin: 0 0 24px 0;
}
.add_comment textarea {
  border: none;
  background-color: #F7F8FD;
  border-radius: 5px;
  padding: 16px 24px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  color: #3A4374;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 16px;
}
.add_comment textarea:focus {
  outline: 1px solid #4661E6;
}
.add_comment textarea::placeholder {
  color: #8C92B3;
}
.add_comment .chrleft_post {
  display: flex;
  align-items: center;
}
.add_comment .chrleft_post .characters_left {
  color: #647196;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 767px) {
  .add_comment .chrleft_post .characters_left {
    font-size: 13px;
  }
}
.add_comment .chrleft_post button {
  margin: auto 0 auto auto;
}/*# sourceMappingURL=feedbackDetails.module.css.map */