.feedback, .feedback_mobile {
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 28px 32px;
}
@media (max-width: 767px) {
  .feedback, .feedback_mobile {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    padding: 24px;
  }
}
.feedback .upvotes, .feedback_mobile .upvotes {
  margin-bottom: auto;
}
.feedback .upvotes button, .feedback_mobile .upvotes button {
  background-color: #F2F4FE;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  justify-content: flex-start;
  border-radius: 10px;
  font-weight: 700;
  color: #3A4374;
  cursor: pointer;
  width: 40px;
  height: 53px;
}
@media (max-width: 767px) {
  .feedback .upvotes button, .feedback_mobile .upvotes button {
    flex-direction: row;
    font-size: 13px;
    width: 69px;
    height: 32px;
    gap: 10px;
  }
}
.feedback .upvotes button i, .feedback_mobile .upvotes button i {
  margin-top: 8px;
  font-weight: 800;
}
@media (max-width: 767px) {
  .feedback .upvotes button i, .feedback_mobile .upvotes button i {
    margin: 0 0 3px 10px;
  }
}
.feedback .upvotes button:hover, .feedback_mobile .upvotes button:hover {
  background-color: #CFD7FF;
}
.feedback .infos p, .feedback_mobile .infos p {
  margin: 0;
}
.feedback .infos .title, .feedback_mobile .infos .title {
  color: #3A4374;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}
@media (max-width: 767px) {
  .feedback .infos .title, .feedback_mobile .infos .title {
    font-size: 13px;
  }
}
.feedback .infos .description, .feedback_mobile .infos .description {
  font-size: 16px;
  font-weight: 400;
  color: #647196;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .feedback .infos .description, .feedback_mobile .infos .description {
    font-size: 13px;
  }
}
.feedback .infos .category, .feedback_mobile .infos .category {
  display: inline;
  background-color: #F2F4FF;
  border: none;
  padding: 6px 16px;
  border-radius: 10px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  font-size: 13px;
  color: #4661E6;
}
.feedback .comments, .feedback_mobile .comments {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: auto;
  font-weight: 700;
  color: #3A4374;
  font-size: 16px;
}
@media (max-width: 767px) {
  .feedback .comments, .feedback_mobile .comments {
    font-size: 13px;
  }
}
.feedback .comments p, .feedback_mobile .comments p {
  margin: 0;
}
.feedback .upvotes_comments, .feedback_mobile .upvotes_comments {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback_mobile {
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.feedback_mobile .upvotes button {
  flex-direction: row;
  font-size: 13px;
  width: 69px;
  height: 32px;
  gap: 10px;
}
.feedback_mobile .upvotes button img {
  margin: 0 0 3px 10px;
}
.feedback_mobile .infos .title, .feedback_mobile .infos .description {
  font-size: 13px;
}
.feedback_mobile .comments {
  font-size: 13px;
}

#no_feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 100%;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}
@media (max-width: 767px) {
  #no_feedback {
    margin: 32px 24px 47px 24px;
  }
}
#no_feedback img {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  #no_feedback img {
    margin-bottom: 30px;
  }
}
#no_feedback #no_feedback_title {
  color: #3A4374;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}
@media (max-width: 767px) {
  #no_feedback #no_feedback_title {
    margin-bottom: 14px;
    line-height: 30px;
  }
}
#no_feedback #no_feedback_description {
  color: #647196;
  font-weight: 400;
  text-align: center;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  #no_feedback #no_feedback_description {
    margin-bottom: 24px;
  }
}
#no_feedback p {
  margin: 0;
}

.upvoteOn {
  background-color: #4661E6 !important;
  color: white !important;
}/*# sourceMappingURL=feedback.module.css.map */