#all-padding {
  padding: 94px 165px;
}
@media (max-width: 1023px) {
  #all-padding {
    padding: 56px 39px;
  }
}

#header {
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  z-index: 10;
}
@media (max-width: 1023px) {
  #header {
    width: 100%;
    flex-direction: row;
    gap: 10px;
  }
}
@media (max-width: 767px) {
  #header {
    align-items: flex-end;
    flex-direction: column;
    gap: 0;
  }
}

#logo {
  color: white;
  position: relative;
  width: 100%;
}
#logo #bg_img {
  vertical-align: bottom;
  border-radius: 10px;
  width: 100%;
  height: 90px;
}
@media (max-width: 767px) {
  #logo #bg_img {
    border-radius: 0;
    height: 72px;
  }
}
#logo #logo_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  gap: 5px;
  inset: 0 24px;
}
@media (max-width: 767px) {
  #logo #logo_content {
    gap: 3px;
  }
}
@media (max-width: 400px) {
  #logo #logo_content {
    inset: 0 10px 0 15px;
  }
}
#logo #logo_content #logo_content_1 {
  display: flex;
  align-items: center;
  gap: 22px;
}
@media (max-width: 767px) {
  #logo #logo_content #logo_content_1 {
    gap: 13px;
  }
}
#logo #logo_content h1, #logo #logo_content p {
  margin: 0;
}
#logo #logo_content h1 {
  font-size: 20px;
}
@media (max-width: 767px) {
  #logo #logo_content h1 {
    font-size: 15px;
  }
}
#logo #logo_content p {
  font-weight: 500;
  font-size: 15;
}
@media (max-width: 767px) {
  #logo #logo_content p {
    font-size: 13px;
  }
}
#logo #logo_content #menu_toggle_img {
  cursor: pointer;
  height: 22px;
  width: 24px;
}

#authentification_nav #not_auth {
  display: flex;
  align-items: center;
  gap: 10px;
}
#authentification_nav #not_auth .sign_in_button {
  margin: 0;
}
#authentification_nav #not_auth .sign_up_button {
  padding: 12px 24px;
  font-size: 14px;
}
@media (max-width: 767px) {
  #authentification_nav #not_auth .sign_up_button {
    padding: 11px 16px;
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  #authentification_nav #not_auth .sign_up_button {
    padding: 11px 12px;
  }
}
#authentification_nav #profile_picture {
  border-radius: 100%;
}

#filter_roadmap {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
#filter_roadmap > div {
  height: 100%;
}
#filter_roadmap #menu {
  display: flex;
  background-color: #F7F8FD;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  position: relative;
  right: 100%;
  height: 100%;
}

#filters {
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  gap: 14px;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  #filters {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 790px) {
  #filters {
    padding: 20px;
    gap: 9px;
  }
}
@media (max-width: 767px) {
  #filters {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 14px;
  }
}
#filters p {
  font-size: 18px;
  color: #3A4374;
  font-weight: bold;
  margin: 0;
}
#filters div {
  display: flex;
  gap: 8px;
}

#roadmap {
  background-color: white;
  padding: 19px 24px 24px 24px;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  gap: 17px;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  #roadmap {
    width: 100%;
    min-width: 400px;
    gap: 5px;
    justify-content: space-around;
    padding: 19px 24px 24px 24px;
  }
}
@media (max-width: 767px) {
  #roadmap {
    min-width: 0px;
    width: auto;
    gap: 17px;
    padding: 19px 24px 24px 24px;
  }
}
#roadmap p, #roadmap ul {
  margin: 0;
}
#roadmap div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#roadmap div p {
  font-size: 18px;
  color: #3A4374;
  font-weight: bold;
}
#roadmap div a {
  font-size: 13px;
  color: #4661E6;
  margin-left: 67px;
  font-weight: 600;
}
#roadmap div a a:visited {
  color: #4661E6;
}
#roadmap ul {
  padding-left: 24px;
}
@media (max-width: 1023px) {
  #roadmap ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
  }
}
@media (max-width: 767px) {
  #roadmap ul {
    display: block;
    flex-wrap: nowrap;
  }
}
#roadmap ul li {
  font-size: 16px;
  font-weight: 400;
  color: #647196;
  margin-bottom: 3px;
}
@media (max-width: 1023px) {
  #roadmap ul li {
    list-style-position: inside;
    vertical-align: middle;
  }
}
#roadmap ul li::marker {
  font-size: 20px;
}
#roadmap ul li:first-child::marker {
  color: #F49F85;
}
#roadmap ul li:nth-child(2)::marker {
  color: #AD1FEA;
}
#roadmap ul li:last-child::marker {
  color: #62BCFA;
}
#roadmap ul li span {
  float: right;
  margin-left: auto;
  font-weight: 700;
}
@media (max-width: 1023px) {
  #roadmap ul li span {
    margin: 4px 0 auto 10px;
  }
}
@media (max-width: 767px) {
  #roadmap ul li span {
    margin-left: auto;
  }
}/*# sourceMappingURL=header.module.css.map */