//mixins
@mixin media($size){
    @media (max-width:$size){
        @content
    }
}

//variables
$tablet:1023px;
$mobile:767px;

//parent
.feedback_details{
    display: flex;
    flex-direction: column;
    gap:24px;
    padding:80px 150px 137px;
    @include media($tablet){
        padding:56px 39px 120px;
    }
    @include media($mobile){
        padding:24px 25px 88px;
    }
    @include media(400px){padding:24px 15px 50px}
}

//child1
.feedback_nav{
    display: flex;
    align-items: center;

    div:first-child{
        display: flex;
        align-items: center;
        gap:13px;
        cursor: pointer;
        p{
            color: #647196;
            font-weight: 700;
            font-size: 14px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    button{
        background-color: #4661E6;
        margin:auto 0 auto auto;
        &:hover{
            background-color: #7C91F9;
        }
    }
}

//child2
.comments_section{
    background-color: white;
    border-radius: 10px;
    padding: 24px 34px;
    @include media($mobile){padding:23px;}

    &>p{
        font-size: 18px;
        font-weight: 700;
        color:#3A4374;
        margin:0 0 28px 0;
        @include media($mobile){margin-bottom:24px ;}
    }

    .comments{
        display: flex;
        flex-direction: column;
        // gap:32px;
        // padding:0 33px;

        .comment{
            padding:32px 0;
            border-top:solid 1px rgba($color: #8C92B3, $alpha: 0.25);
            @include media($mobile){padding: 24px 0;}
            
            .comment_content{
                display: flex;
                flex-direction: column;
                gap:17px;
                @include media($mobile){gap:15px;}
                @include media(400px){gap:13px;}
            }
            
                .comment_metaData{
                    display: flex;
                    align-items: center;
                    gap:32px;
                    @include media($mobile){gap:16px}
            
                    img{
                        border-radius: 100%;
                    }
            
                    .comment_userInfo{
                        p{
                            margin:0;
                            font-size: 14px;
                            @include media($mobile){font-size: 13px;}
                        }
                        p:first-child{
                            font-weight: 700;
                            color:#3A4374;
                        }
                        p:last-child{
                            color:#647196;
                        }
                    }
            
                    button{
                        border:none;
                        color:#4661E6;
                        font-size: 13px;
                        font-weight: 600;
                        background-color: transparent;
                        cursor: pointer;
                        margin-left: auto;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
        
                .comment_content_content{
                    display: flex;
                    flex-direction: column;
                    gap:24px;
                    @include media($mobile){
                        gap:15px;
                    }

                    p{
                        color: #647196;
                        font-size: 15px;
                        margin:0;
                        @include media($mobile){font-size: 13px}
                    }
                }
    
            .comment_replies{
                @extend .comment_content;
                margin-left: 20px;
                border-left: solid 1px #F0F1F4;
                padding:0 0 32px 25px;

                @include media($mobile){
                    margin-left:0;
                }
                @include media(400px){
                    padding:0 0 30px 15px;
                }
    
                span{
                    color: #AD1FEA;
                    font-weight: 700;
                    font-size: 15px;
                    margin-right: 10px;
                    @include media($mobile){
                        font-size: 13px;
                    }
                }
            }

        }

    }

}


//child3
.add_comment{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 24px 33px 32px;
    @include media($mobile){padding:24px;}

    .add_comment_title{
        font-size: 18px;
        font-weight: 700;
        color:#3A4374;
        margin:0 0 24px 0;
    }

    .chrleft_post{
        display: flex;
        align-items: center;

        .characters_left{
            color: #647196;
            font-size: 15px;
            font-weight: 400;
            margin:0;
            @include media($mobile){font-size: 13px;}
        }

        button{
            margin:auto 0 auto auto;
            @include media($mobile){font-size: 13px;}
        }

    }

}

    //post_reply
    .post_reply{
        display: flex;
        align-items: center;
        gap:16px;

        @include media($mobile){
            flex-direction: column;
            gap:10px;
        }

        button{
            margin:0 0 auto auto;
            white-space: nowrap;
            @include media($mobile){
                width: 100%;
            }
        }
        textarea{
            margin:0;
        }
    }