 //mixins
@mixin media($size){
    @media (max-width:$size){
        @content
    }
}

//variables
$tablet:1023px;
$mobile:767px;

.feedback{
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap:40px;
    padding:28px 32px;
    @include media($mobile){
        flex-direction: column;
        gap:16px;
        align-items: flex-start;
        padding: 24px;
    }


    .upvotes{
        margin-bottom:auto;
        button{
            background-color: #F2F4FE;
            border:none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:4px;
            justify-content: flex-start;
            border-radius: 10px;
            font-weight: 700;
            color:#3A4374;
            cursor: pointer;
            width: 40px;
            height: 53px;
            @include media($mobile){
                flex-direction: row;
                font-size: 13px;
                width:69px;
                height: 32px;
                gap:10px;
            }
            i{
                margin-top:8px ;
                font-weight: 800;
                @include media($mobile){
                    margin: 0 0 3px 10px;
                    // padding-left: 10px;
                }
            }
            &:hover{
                background-color: #CFD7FF;
            }
        }
    }

    .infos{
        p{margin:0;}
        .title{
            color:#3A4374;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 4px;
            @include media($mobile){font-size: 13px;}
        }
        .description{
            font-size: 16px;
            font-weight: 400;
            color:#647196;
            margin-bottom: 12px;
            @include media($mobile){font-size: 13px;}
        }
        .category{
            display: inline;
            background-color: #F2F4FF;
            border:none;
            padding: 6px 16px;
            border-radius: 10px;
            font-weight: 600;
            font-family: 'Jost', sans-serif;
            font-size: 13px;
            color:#4661E6;
        }
       
    }

    .comments{
        display: flex;
        gap: 8px;
        align-items: center;
        margin-left: auto;
        font-weight: 700;
        color:#3A4374;
        font-size: 16px;
        @include media($mobile){
            font-size: 13px;
        }


        p{
            margin: 0;
        }
    }

    .upvotes_comments{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



}

.feedback_mobile{
    @extend .feedback;
    flex-direction: column;
    gap:16px;
    align-items: flex-start;


    .upvotes{

        button{
            flex-direction: row;
            font-size: 13px;
            width:69px;
            height: 32px;
            gap:10px;
            img{
                margin: 0 0 3px 10px;
            }
        }
    }
    .infos{
        .title,.description{
            font-size: 13px;
        }
    }
    .comments{
        font-size: 13px;
    }
}

#no_feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:100%;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding:25px;

    @include media($mobile){
        margin: 32px 24px 47px 24px;
    }

    img{
        margin-bottom: 30px;
        @include media($mobile){
            margin-bottom: 30px;
        }
    }

    #no_feedback_title{
        color:#3A4374;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 16px;
        // white-space: nowrap;
        text-align: center;
        @include media($mobile){
            margin-bottom: 14px;
            line-height: 30px;
        }
    }

    #no_feedback_description{
        color:#647196;
        font-weight: 400;
        text-align: center;
        margin-bottom: 35px;
        @include media($mobile){
            margin-bottom: 24px;
        }
    }

    p{margin:0}
}

.upvoteOn{
    background-color: #4661E6 !important;
    color: white !important;
}