@mixin media($size){
    @media (max-width:$size){
        @content
    }
}

//variables
$tablet:1023px;
$mobile:767px;

body{
    margin:0;
    font-family: 'Jost', sans-serif;
    background-color: #F2F2F2;
}

select,button{
    font-family: 'Jost', sans-serif;
}

.button-one{
    background-color: #F2F4FF;
    border:none;
    padding: 6px 16px;
    border-radius: 10px;
    cursor:pointer;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    font-size: 13px;
    color:#4661E6;
    
    &:hover{
        background-color: #CFD7FF;
    }
}

.button_two{
    border-radius: 10px;
    background-color: #AD1FEA;
    border:none;
    color: #F2F4FE;
    font-weight: 700;
    font-size: 14px;
    padding:12px 24px;
    margin: 14px 16px 14px auto;
    cursor: pointer;
    &:hover{
        background-color: #C75AF6;
    }
    @include media($mobile){
        font-size: 13px;
        padding:11px 16px;
    }
    @include media(400px){
        margin-right: 8px;
        padding:11px 12px;
    }
}

.button_three{
    @extend .button_two;
    // margin-left: auto;
    background-color: #3A4374;
    &:hover{
        background-color: #656EA3;
    }
}

.button_delete{
    @extend .button_two;
    background-color: #D73737;
    // margin:0 auto 0 0;
    &:hover{
        background-color: #E98888
    }
}

.menu-left{
    animation-name: menu-left;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
}
@keyframes menu-left {
    from{
        left:100%;
    } to{
        left: 0;
    }
}

.menu-right{
    animation-name: menu-right;
    animation-fill-mode: forwards;
    animation-duration: 150ms;
    animation-timing-function: ease-out;
}
@keyframes menu-right {
    from{
        left:0;
    } to{
        left: 100%;
    }
}

.commentYesReplies{
    margin-left:20px;
    border-left: solid 1px #F0F1F4;
    padding:0 0 32px 52px;
    @include media($mobile){
        margin-left:0;
        border:none;
        padding-left: 0;
    }
}

.commentNoReplies{
    margin-left: 72px;
    @include media($mobile){
        margin-left:0 ;
    }
}

.reply{
    margin-left: 72px;
    @include media($mobile){
        margin-left:0;
    }
}


.textarea_one{
    border:none;
    background-color: #F7F8FD;
    border-radius: 5px;
    padding:16px 24px;
    font-size: 15px;
    font-weight: 400;
    font-family:'Jost', sans-serif ;
    color:#3A4374;
    resize:none;
    width:100%;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 16px;

    &:focus{
        outline:1px solid #4661E6;
    }
    &::placeholder{
        color: #8C92B3;
    }
}

//stages-animation
@keyframes one {
    100%{left: 0;}
}
@keyframes two {
    100%{left: -100%;}
}
@keyframes three {
    100%{left: -200%;}
}

//nav-animation
@keyframes oneN {
    100%{margin: 0 auto 0 0 ;}
}
@keyframes twoN {
    100%{margin: 0 auto 0 auto ;}
}
@keyframes threeN {
    100%{margin: 0 0 0 auto ;}
}