//mixins
@mixin media($size){
    @media (max-width:$size){
        @content
    }
}

//variables
$tablet:1023px;
$mobile:767px;

#all-padding {
    padding: 94px 165px;
    // @include media($mdesktop) {
    //   padding: 0 120px;
    // }
    // @include media($sdesktop) {
    //   padding: 0 90px;
    // }
    // @include media($ssdesktop) {
    //   padding: 0 60px;
    // }
    @include media($tablet) {
      padding: 56px 39px;
    }
    // @include media($mobile){padding: 0 35px;}
}


#header{
    display: inline-flex;
    flex-direction: column;
    gap:24px;
    position: relative;
    z-index: 10;
    @include media($tablet){
        width:100%;
        flex-direction: row;
        gap:10px;
    }
    @include media($mobile){
        align-items: flex-end;
        flex-direction: column;
        gap:0;
    }
}

#logo{
    color:white;
    position:relative;
    width: 100%;
    // align-items: center;
    #bg_img{
        vertical-align: bottom;
        border-radius: 10px;
        width: 100%;
        height: 90px;
        @include media($tablet){
        }
        @include media($mobile){
            border-radius: 0;
            height: 72px;
        }
    }
    #logo_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        gap:5px;
        inset: 0 24px;
        @include media($mobile){
            gap:3px;
        }
        @include media(400px){
            inset:0 10px 0 15px;
        }
        #logo_content_1{
            display: flex;
            align-items: center;
            gap:22px;
            @include media($mobile){
                gap:13px;
            }
        }

        h1,p{
            margin:0;
        }
        h1{
            font-size: 20px;
            @include media($mobile){font-size: 15px;}
        }
        p{
            font-weight: 500;
            font-size: 15;
            @include media($mobile){font-size: 13px;}

        }

        #menu_toggle_img{
            cursor: pointer;
            height: 22px;
            width:24px;
        }
    }
}
#authentification_nav{
    #not_auth{
        display: flex;
        align-items: center;
        gap:10px;
        .sign_in_button{
            margin:0;
        }
        .sign_up_button{
            padding:12px 24px;
            font-size: 14px;
            @include media($mobile){
                padding:11px 16px;
                font-size: 13px;
            }
            @include media(400px){
                padding:11px 12px;
            }
        }
    }
    
    #profile_picture{
        border-radius: 100%;
    }
}

#filter_roadmap{
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: fixed;
    // inset: auto 0 0 0;
    right: 0;
    bottom: 0;
    left: 0;
    &>div{height: 100%;}
    #menu{
        display: flex;
        background-color: #F7F8FD;
        flex-direction: column;
        gap: 24px;
        padding:24px;
        position: relative;
        right: 100%;
        height: 100%;
    }
}

#filters{
    background-color: white;
    padding:24px;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    gap:14px;
    box-sizing: border-box;
    @include media($tablet){
        width:100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    @include media(790px){
        padding:20px;
        gap:9px;
    }
    @include media($mobile){
        width: auto;
        flex-direction: column;
        align-items: flex-start;
        padding:24px;
        gap:14px;
    }
    
    p{
        font-size: 18px;
        color:#3A4374;
        font-weight: bold;
        margin:0;
    }

    div{
        display: flex;
        gap:8px;
    }
}

#roadmap{
    background-color: white;
    padding:19px 24px 24px 24px;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    gap:17px;
    box-sizing: border-box;
    @include media($tablet){
        width: 100%;
        min-width: 400px;
        gap:5px;
        justify-content: space-around;
        padding:19px 24px 24px 24px;
    }
    @include media($mobile){
        min-width: 0px;
        width: auto;
        gap:17px;
        padding:19px 24px 24px 24px;
    }
    p,ul{
        margin:0;
    }
    div{
       display: flex;
       justify-content: space-between;
       align-items: center;
       p{
        font-size: 18px;
        color:#3A4374;
        font-weight: bold;
       }
       a{
        font-size: 13px;
        color: #4661E6;
        margin-left: 67px;
        font-weight: 600;
        a:visited{
            color: #4661E6;
        }
       }
    }
    ul{
        padding-left:24px;
        @include media($tablet){
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding:0;
        }
        @include media($mobile){
            display:block ;
            flex-wrap: nowrap;
        }
        li{
            font-size: 16px;
            font-weight: 400;
            color:#647196;
            margin-bottom: 3px;
            @include media($tablet){
                list-style-position:inside;
                vertical-align: middle;
            }

            &::marker{
                font-size: 20px;
            }
            &:first-child::marker{
                color:#F49F85;
            }
            &:nth-child(2)::marker{
                color: #AD1FEA;
            }
            &:last-child::marker{
                color: #62BCFA;
            }
            
            span{
                float: right;
                margin-left: auto;
                font-weight: 700;
                @include media($tablet){
                    margin: 4px 0 auto 10px;
                }
                @include media($mobile){
                    margin-left:auto;
                }
            }
        }
    }

}

//profile-picture-wraper

.profile_wraper{
    position:relative;
    .profile_dropDown{
        position: absolute;
        inset:calc(100% + 3px) 20px auto auto;
        background-color: white;
        border-radius: 5px;
        border:solid 1px gray;
        z-index:100;
        p{
            color:black;
            font-size:14px;
            padding:5px 10px;
            white-space: nowrap;
            cursor: pointer;
            &:hover{
                background-color: rgba($color: gray, $alpha: 0.3);
            }
        }
    }
}