//mixins
@mixin media($size){
    @media (max-width:$size){
        @content
    }
}

//variables
$tablet:1023px;
$mobile:767px;

#home{
    display: flex;
    gap:30px;
    padding: 94px 165px;
    min-height: 100vh;
    box-sizing: border-box;
    @include media(1300px){padding:76px 80px;}
    @include media($tablet){flex-direction: column;padding:56px 39px;}
    @include media($mobile){gap:0;padding:0;}
}