//mixins
@mixin media($size){
    @media (max-width:$size){
        @content
    }
}

//variables
$tablet:1023px;
$mobile:767px;

#home{

    padding: 35px 165px 94px;
    @include media(1300px){padding:35px 80px 76px;}
    @include media($tablet){padding:25px 39px 56px;}
    @include media($mobile){padding: 0;}
    #navbar{
        margin-bottom: 20px;
        @include media($mobile){margin:0;}
    }
    #content{
        display: flex;
        gap:30px;
        min-height: 100vh;
        box-sizing: border-box;
        @include media($tablet){flex-direction: column;}
        @include media($mobile){gap:0;}
    }
}