//mixins
@mixin media($size){
    @media (max-width:$size){
        @content
    }
}

//variables
$tablet:1023px;
$mobile:767px;

.roadmap{
    padding:24px;
    overflow-x: hidden;
    max-width: 100vw;
    @include media($mobile){
        padding:0;
    }

    .roadmap_nav{
        background-color: #373F68;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        padding:15px;
        position: relative;
        margin-bottom:48px ;
        @include media($mobile){
            border-radius: 0;
            margin:0;
        }


        .roadmap_nav_title{
            color: white;
            font-weight: 700;
            font-size: 24px ;
            margin:auto;   
            position:absolute;
            left:50%;
            transform: translate(-50%, 0);
        }
    }

    .roadmap_main{
        position: relative;
        .roadmap_stages{
            display: flex;
            gap:30px;
            @include media($tablet){
                gap:10px;
            }
            @include media($mobile){
                gap:0;
                position: relative;
                left: -100%;
                animation-duration: 150ms;
                animation-fill-mode: forwards;
                // animation-name: one;

            }

            .stage{
                width: 100%;
                @include media($mobile){
                    min-width: 100%;
                    padding:24px;
                    box-sizing: border-box;
                }

                .stage_header{
                    margin-bottom: 32px;
                    p{margin: 0;}
                    .stage_header_title{
                        font-weight: 700;
                        color: #3A4374;
                        font-size: 18px;
                    }
                    .stage_header_descripton{
                        color: #647196;
                    }
                }

                .stage_feedbacks{
                    display: flex;
                    flex-direction: column;
                    gap:24px;
                    @include media($mobile){
                        // margin:0 24px;
                    }

                    .status{
                        border:solid;
                        border-width: 5px 0 0 0 ;
                        border-radius:5px 5px 0 0;
                        background-color: white;
                        padding: 16px 24px 6px;
                        // margin:0;

                        li{
                            font-size: 14px;
                            font-weight: 400;
                            color:#647196;
                            // margin-bottom: px;
                
                            &::marker{
                                font-size: 17px;
                            }
                            
                            span{
                                float: right;
                                margin-left: auto;
                                font-weight: 700;
                            }
                        }

                        .Planned::marker{
                            color: #F49F85;
                        }
                        .In-Progress::marker{
                            color: #AD1FEA;
                        }
                        .Live::marker{
                            color: #62BCFA;
                        }
                    }
                }
            }

        }
    }
}

.OnMobileNav{
    // margin:20px 0 0;
    border-bottom: solid 1px rgba($color: #979797, $alpha: 0.35);
    .OnMobileNav_cats{
        display: flex;

        p{
            margin: 20px 0 17px;
            width: 100%;
            text-align: center;
            cursor: pointer;
            font-weight: 700;
            color: rgba($color: #3A4374, $alpha: 0.4);
        }
    }

    hr{
        border: none;
        height: 4px;
        background-color: #AD1FEA;
        width: 33%;
        margin:0 auto 0 auto;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
    }
}




